ul {
  list-style: square;
  
}

ol {
  list-style: lower-alpha;
  
}

table {
  border: 1px solid;
  }
td {
  border: 1px solid;
  }

thead {
  background: lightgrey;
}

tfoot {
  color: red;
  background: white;
}

figure {
  color: red;
  border: 5px solid;
  width: 25%;
  background: grey;
    margin: 1%
}
figure img {
  max-width:100%;
  hight: auto
}